    
    .Contacts{
	margin-top: 51px;
	text-align: center;
}
.Contacts h1{
	color: #18bae4;	
	text-align: center;
}
.Contacts p{
		color: #888888;
}
.Contacts h3{
    color: #18bae4; 
    text-align: center;
}
.massage input[type=text], select {
    width: 100%;
    padding: 10px 18px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.massage input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 12px 18px;
    margin:6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.massage textarea{
	 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 #map {
        height: 400px;
        width: 100%;    
        }