
.carousel {
    position: relative;
    margin-top: 20px;
}
.image_and_comment{
	background-image: url('http://localhost/quiz/assetes/Image/swami-dayananda-saraswati-g.jpg');
	color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    text-align: center;
        letter-spacing: 1px;
}
.image_and_comment .contains{
	padding: 2%;
	padding-bottom: 2%;
}
.contains{
	margin-top: 20px;
	background-color: rgba(47, 44, 44, 0.31);
}
.image_and_comment{
	margin-top: 51px;
}
.contains{
	margin-top: 50px;
}
.contains h3{
	margin-top: 20px;
	padding: 10px;
}
.About_swamiji{
	padding: 2%;
	color: #888888;
}
.About_swamiji_bottom{
  padding: 2%;
	color: #888888;
}
.Swami_ishvar img {
background-position:center;
background-position:center;
width: 100%;
box-shadow: 0px 15px 15px 0px grey;

}
  #myCarousel img{
  height: 270px;
  }
  .About_swamiji h4{
  			color: #18bae4;
  }