#main-menu {
    background-color: #2E3039;
}

.list-group-item {
    background-color: #2E3039;
    border: none;
}

a.list-group-item {
    color: #FFF;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #43D5B1;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: #FFF;
    background-color: #43D5B1;
    border: none;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

#folder {
   float: left;
   text-align: center;
 margin-left: 4%;
}
.eduction{
margin-top: 52px;
}
#back_button img{
  width: 3%;
  text-decoration: none;
}
#back_button h4{
        color: #18bae4;
}
#back_button:hover{
      text-decoration: none;
}
.About_study_contains{
    text-align: center;
    padding: 2%;
}
.About_study_contains h4{
    color: #18bae4;
}
.About_study_contains p{
    color: #888888;
}
#top_of_the_page:hover{
      text-decoration: none;
} 
#top_of_the_page h4{
        color: #18bae4;
}
#subject_id{
     color: #18bae4;
}
