.contacts{

	background-image: url('http://localhost/question_bank/assetes/Image/connect_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    text-align: center;
	  color: white;
	  margin-top: 15px;
    padding: 2%;
}
.contacts img{
		width: 10%;
   padding: 1%;
  }
.contacts h2{
	color: #18bae4;
}
.Test_Question_view{
	margin-top: 51px;
}
.question_container{
	padding: 2%;

}
.question_degine{
	padding: 2%;
	padding-left: 6%;
	box-shadow: 1px 8px 8px 4px;


} 
.question_degine h5{
			color: #888888;
}
.question_degine h4{
		color: #18bae4;
}
#heading_of_the_page{
	text-align: center;
	padding: 1%;
}
.bottom_link{
	background-color:  #18bae4;
	color: white;
	padding: 2%;


}
.Next_pager{
	text-align: center;
}