.Instractions{
	margin-top: 51px;
padding: 1%;
	color: #888888;

}
.Instractions1{
box-shadow: 0 0 5px grey;	
padding: 1%;
}
.Instractions1 a{
	color: white;
	text-decoration: none;
}
.Instractions1 a:hover{
	color: white;
	text-decoration: none;
}